/*----General Styles----*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    color: #868990;
}

* {
    box-sizing: border-box;
}

/*----End General Styles----*/


/*----Our Services Styles---*/

.content__our__services {
    background-color: #f7f7f7;
    padding: 30px 0;
}

.title__our__services {
    text-align: center;
    padding-bottom: 2rem;
}

.content__our__services h1 {
    color: #263246;
}

.content__our__services article h2 {
    font-family: inherit;
    font-weight: bold;
    font-size: 1.5em;
    color: #263246;
}

.inner__our__services {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.content__our__services article {
    background-color: white;
    margin: 10px;
    padding: 2em;
    border-radius: 0%;
    width: 30%;
}

.content__our__services article p {
    line-height: 1.5em;
}

.content__our__services .content__enlace {
    text-align: center;
    display: block;
    max-width: 130px;
    margin: 50px auto;
    color: #868990;
}

@media only screen and (max-width: 640px) {
    .inner__our__services {
        flex-direction: column;
    }
    .content__our__services article {
        width: 100%;
    }
}


/*----End Our Services Styles----*/
/*--- start directory----*/
{

}
footer{

    background: #333650;
    
}
.directory{
    display: flex;
    justify-content: space-between;
}
.colum1{
    max-width: 600px;
}
.colum1 h1{
    font-size: 22px;
    margin: 2vw;
    padding: 2vw;
    margin-left: 2vw;
    color: whitesmoke;
    
}
.colum1 p{
    font-size: 18px;
    
    padding: auto;
    margin-left: 2vw;
}

.colum2{
    max-width: 400px;
}.colum2 h1{
    font-size: 22px;

    padding: 2vw;
    margin-right: 2vw;
    color: whitesmoke;
}
.row{
    margin: 2vw;
    display: flex;
    font-size: 21px;
  
}
.colum3{
    max-width: 400px;
}
.colum3 h1{

    font-size: 22px;
    margin: 2vw;
    padding: 2vw;
    margin-right:  2vw;
    color: whitesmoke;

}
.colum4{
 max-width: 400px;
}
.colum4 h1{
    font-size: 21px;
    margin: 2vw;
    padding: 2vw;
    margin-right: 2vw;
    color: whitesmoke;
}
.row1 img{
   width: 25px;
    height: 25px;
    margin: .70vw;
    margin-top: 1vw;
 
 
}
.colum4 label{
    margin:1vw;
    padding: 1.1vw;
    margin-top: auto;
    margin-left: auto;
 
}
@media only screen and (max-width: 640px){
    .directory{
        flex-direction: column;
    }
    
}
