/*----General Styles----*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    color: #868990;
}

* {
    box-sizing: border-box;
}


/*----End General Styles----*/

/*----banner Styles---*/
#space_title{
    color:white;
    background:#263246;
    display: flex;
} 
h1{
   margin: auto;
}
.menu{
    display: flex;
    text-decoration: none;
}

ul{
    visibility: hidden;
}

li{
    display: inline;
}

#space_banner{
    background-image: url('../assets/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
#btn_begin{
    border: red solid;
    background: red;
    color:white;
    border-radius: 3px;
}

#btn_begin:hover{
    background: none;
    color: red;
}
.container{
    display: block;
    padding: 10vw;
}
h2{
    color: white;
    margin-bottom: 2%;
}
p{
    color: white;
    margin-bottom: 2%;
}
@media(min-width: 520px){
    
    ul{
        list-style-type: none;
        visibility: visible;
    }
    #space_title{
        background-color: none;
    }
    #space_banner{
        background-image: none;
    }
    header{
        background-image: url('../img/banner.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
} 
/*----banner Styles---*/
/*----Our Services Styles---*/

.content__our__services {
    background-color: #f7f7f7;
    padding: 30px 0;
}

.title__our__services {
    text-align: center;
    padding-bottom: 2rem;
}

.content__our__services h1 {
    color: #263246;
}

.content__our__services article h2 {
    font-family: inherit;
    font-weight: bold;
    font-size: 1.5em;
    color: #263246;
}

.inner__our__services {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.content__our__services article {
    background-color: white;
    margin: 10px;
    padding: 2em;
    border-radius: 0%;
    width: 30%;
}

.content__our__services article p {
    line-height: 1.5em;
}

.content__our__services .content__enlace {
    text-align: center;
    display: block;
    max-width: 130px;
    margin: 50px auto;
    color: #868990;
}

@media only screen and (max-width: 640px) {
    .inner__our__services {
        flex-direction: column;
    }
    .content__our__services article {
        width: 100%;
    }
}


/*----End Our Services Styles----*/